/*******************************/
/* ****** #SLIDERS ***** */
/*******************************/


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
	margin: 0;
	padding: 0;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	display: block;
	-webkit-box-shadow: 5px 5px 10px #252525;
	-moz-box-shadow: 5px 5px 10px #252525;
	box-shadow: 5px 5px 10px #252525;
}

/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }



/* Theme Styles */
.flexslider {
	position: relative;
	background: #ffffff;
}

/* Edit it if you want */
.flex-container {
/*	margin-top: 140px;*/
	min-width: 150px;
/*	max-width: 100%;*/
}

/* Direction Nav - Fleches*/
.flex-direction-nav a {
	display: none;
	-webkit-backface-visibility: hidden;
}






/* Control Nav - Dots */
.flexslider .flex-control-nav {
	position: absolute;
	width: 50%;
	bottom: 20px;
	margin: 0 0 0 790px;
}

.flex-control-nav li {
	display: inline-block;
}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 63px;
	height: 4px;
	margin: 0 3px;
	background-color: #c2ab92;

/*	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;*/

	-webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
	-moz-box-shadow: inset 0 0 0 2px #b6b6b6;
	box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.flex-active {
/*	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bababa));
	background-image: -webkit-linear-gradient(top, #ffffff, #bababa);
	background-image: -moz-linear-gradient(top, #ffffff, #bababa);
	background-image: -o-linear-gradient(top, #ffffff, #bababa);
	background-image: linear-gradient(to bottom, #ffffff, #bababa);*/

	-webkit-box-shadow: 1px 1px 2px black;
	-moz-box-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
}

/* Texte des sliders*/
.flexslider .slides p {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 5px;
	margin: 0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color: white;

	background: rgba(0,0,0, .9);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    text-shadow: 2px 2px 6px black;
}

.flexslider .slides p span 
{
	font-size: 4.6rem;
	color: #FFF;
}

.flexslider .slides p.work-title {
	display: block;
	position: absolute;
	left: 83px;
	top: 110px;

	font-family: 'Open Sans Condensed', sans-serif; 
  	font-weight: bold;
	font-size: 6.6rem;
	text-transform: inherit;
	color: #c2ab92;
	background-color:inherit;
}


